{% extends 'base.html.twig' %}

{% block title %}Teams And Players!{% endblock %}

{% block body %}
<div class="container">
<h2 style="text-align:center;margin-top:2rem">Teams And Players </h2>
<a href="{{path('add_team')}}" class="btn btn-success" style="float:right;margin-bottom:2rem">Add New Team</a>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>name</th>
        <th>country</th>
        <th>balance</th>
        <th>players</th>
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
      <tr>
        <td>{{team.name}}</td>
        <td>{{team.country}}</td>
        <td>${{team.balance}}</td>
        <td><a href="{{path('team_players',{'id':team.id})}}" class="btn btn-success">Show Players</a>  <a href="{{path('add_player',{'id':team.id})}}" class="btn btn-primary">Add Player</a></td>
        </tr>
   {% endfor %}
    </tbody>
  </table>
   {% if maxPages > 1 %}
<ul class="pagination">
    {# `«` arrow  #}
    <li {{ thisPage == 1 ? 'class="disabled page-item"' :  'class="page-item"'}}>
        <a class="page-link"  href="{{ path('list_team', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
    </li>

    {# Render each page number #}
    {% for i in 1..maxPages %}
    <li {{ thisPage == i ? 'class="active page-item"' : 'class="page-item"'}}>
    <a class="page-link" href="{{ path('list_team', {page: i}) }}">{{ i }}</a>
    </li>
    {% endfor %}

    {# `»` arrow #}
    <li {{ thisPage == maxPages ? 'class="disabled page-item"' :  'class="page-item"' }}>
        <a class="page-link" href="{{ path('list_team', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
    </li>
</ul>
{% endif %}
  </div>
{% endblock %}
